@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext)

* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 span {
  background-color: #167B5F;
 }

h2 span {
  background-color: #167B5F;
 }

h1 {
  font-size : 2.5em;
  text-align: center;
  margin-top : 20px;
}

h2 {
  margin : 20px 0;
  font-weight : 100;
  text-align: left;
}

body {
  background: #FFFFFF;
}
  
table {
  border: 1px solid black;
  text-align: left;
  width: 640px;
  margin: 30px auto;
  border-radius: 3px;
  background-color: #fff;
}
  th {
    padding: 10px
  }

  tr:nth-child(odd) {
    background-color: #167B5F;
    opacity: 0.8;
  }
  td {
    padding : 10px 15px 
    color : #434A54
  }

.amount {
  color : #DA4453
  text-align : right
}

.myButton {
	box-shadow : inset 0px 1px 0px 0px #cf866c;
	background-color : #167B5F;
	border-radius : 3px;
	border : 1px solid #167B5F;
	display : inline-block;
	cursor : pointer;
	color : #FFFFFF;
	font-family : Arial;
	font-size : 13px;
	padding : 6px 24px;
	text-decoration : none;
	text-shadow : 0px 1px 0px #854629;
	margin-top : 10px;
}
.myButton:hover {
	background : linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color : #bc3315;
}

.myButton:active {
	position : relative;
	top : 1px;
}

#totalBudget {
	font-size: 18px;	
}
#form-box
  width: 650px
  margin: 30px auto
  padding-left: 15px

form {
  color: #fff
  margin: auto
  
  select, input
    margin-bottom: 25px
    color: $dark-gray
    padding: 10px
    width: 200px
    border-radius: 3px
    border: 0
    
    &active
      border: 1px solid $blue
      transition: 0.2s ease
    
  div
    display: inline-block
    margin-right: 10px
    
  span
    font-size: 1.3em
    font-weight: 100
    display: inline-block
    width: 100px
}
#type
  width: 50px
  
#date
  width: 141px
  
#amount
  width: 100px
    
#if-empty
  text-align: center
    
.center
  margin: auto
  text-align: center
